<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fots -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Remixicon Icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Remixicon Icon -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="icon" href="https://media.licdn.com/dms/image/D5603AQHNLH20GFZGCw/profile-displayphoto-shrink_800_800/0/1681443501544?e=1691020800&v=beta&t=jjLDyhWSLU-jq0D_lCV-XKIPO87Tf1HhfBXafbAPPq4" type="image/icon type">

    <!-- Main CSS -->
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>


    <title class="running-text">CV Muhammad Rusydani Shubkhi</title>
</head>

<body>

    <!-- header -->
    <header class="ds-header" id="site-header">
        <div class="container">
            <div class="ds-header-inner">
                <!-- logo -->
                <a href="https://www.instagram.com/muhammadrusydani/" class="ds-logo">
                    <span>MRS</span>Muhammad Rusydani Shubkhi
                </a>
                <!-- logo -->
                <!-- social -->
                <ul class="ds-social">
                    <li><a href="https://github.com/rusysh22" target="_blank"><i class="ri-github-fill"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/mrusydanish" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                </ul>
                <!-- social -->
            </div>
        </div>
    </header>
    <!-- header -->
    <!-- banner -->
    <div class="ds-banner">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                    <figure>
                        <img src="{{ url_for('static', filename='images/profile-image.jpg') }}" alt="Dani Ganteng">
                    </figure>
                </div>
                <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                    <section>
                        <h1>
                            <span>HI THERE</span> I’m Muhammad Rusydani Shubkhi, <br> Digital Analyst based in Surabaya, Indonesia.
                        </h1>
                        <ul class="ds-numbervalulist">
                            <li>
                                <strong>3 years</strong>
                                <span>Experience</span>
                            </li>
                            <li>
                                <strong>5+</strong>
                                <span>Projects</span>
                            </li>
                            <!-- <li>
                                <strong>5+</strong>
                                <span>Clients</span>
                            </li> -->
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- banner -->

    <!-- about -->
    <div class="ds-about-section">
        <div class="container">
            <section>
                <h2 class="ds-heading">About Me</h2>
                <p>Saya seorang Digital Analyst dan ERP Developer dengan pengalaman dalam menganalisis dan menerapkan solusi transformasi digital yang efektif. Saya memiliki keahlian dalam merancang dan mengembangkan modul Odoo, mengintegrasikan sistem,
                    dan system implementator serta dukungan teknis. Saya memiliki keterampilan komunikasi yang sangat baik, kemampuan memecahkan masalah yang kuat, dan antusiasme yang tinggi untuk belajar dan mengikuti perkembangan terbaru dalam transformasi
                    dan teknologi digital terbaru.</p>
                <div class="ds-button-sec text-center">
                    <a href="https://drive.google.com/file/d/16scHbBn_SnCJNSeoORmIEHX_EK51m-UA/view?usp=sharing" class="ds-button">Download Resume</a>
                </div>
            </section>
        </div>
    </div>
    <!-- about -->

    <!--  Skills -->
    <div class="ds-skills-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <h2 class="ds-heading">Core Skills</h2>
                    <ul class="ds-skills-list">
                        <li>Odoo ERP</li>
                        <li>Zoho Analytics</li>
                        <li>Microsoft Office Specialist</li>
                        <li>Power Automate</li>
                        <li>Github</li>
                        <li>Python</li>
                        <li>PostgreSQL</li>
                        <li>Query</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <h2 class="ds-heading">Other Skills</h2>
                    <ul class="ds-skills-list">
                        <li>Analytics</li>
                        <li>Implementation</li>
                        <li>Entity Relationship Diagram</li>
                        <li>Teamwork</li>
                        <li>Attitude</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--  Skills -->

    <!-- Experience -->
    <div class="ds-experience-section">
        <div class="container">
            <h2 class="ds-heading">Work Experience</h2>
            <div class="row ds-experience-list">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <section>
                        <span class="ds-year">May 2022 - Present</span>
                        <h3 class="ds-officename">McEasy - Head Office</h3>
                        <span class="ds-department">Digital Transformation Analyst</span>
                        <ul>
                            <li>Development Software InHouse menggunakan Odoo ERP v15 Enterprise Edition</li>
                            <li>Sebagai Analyst, Developer, dan System Implementator</li>
                            <li>Modules yang dikerjakan antara lain adalah : Sales, Accounting, Work Order, Subscription, Inventory, Expense, PR & PO, Employee, dan Barcode</li>
                            <li>Beberapa pengerjaan technical antara lain : XML-RPC, Flask Python, Integrasi dengan Zoho Analytics, VPS, dan Reporting Data menggunakan query</li>
                        </ul>
                    </section>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <section>
                        <span class="ds-year">Jan 2022 - Jul 2022</span>
                        <h3 class="ds-officename">Hashmicro</h3>
                        <span class="ds-department">Python Developer (Odoo)</span>
                        <ul>
                            <li>Pemahaman terkait Software Development Lifecycle, mengerjakan dengan Tim Project</li>
                            <li>Pengerjaan Modul POS dan Sale Order menggunakan Odoo v10 CE dan Odoo v14 CE</li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- Experience -->

    <!--  Work -->
    <div class="ds-work-section">
        <div class="container">
            <h2 class="ds-heading">Latest works</h2>
            <div class="ds-work-list-section">
                <div class="ds-work-list">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                            <section>
                                <h3 class="ds-work-tilte">Odoo 10 - Beauty Clinic</h3>
                                <p>Project Freelance pengerjaan Hospital Management System, terkait Klinik Kecantikan. Modul yang digunakan : Appointment, Sales Order, Inventory, res_partner, dan Invoicing</p>
                                <!-- <a href="works-setails.html" class="ds-button">Details</a> -->
                            </section>
                        </div>
                        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                            <figure><img src="{{ url_for('static', filename='images/work-1.png') }}" alt="Work 1"></figure>
                        </div>
                    </div>
                </div>
                <div class="ds-work-list">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                            <section>
                                <h3 class="ds-work-tilte">Odoo 14 - Bengkel</h3>
                                <p>Tugas akhir kuliah sebagai syarat kelulusan S1, saya membuat sistem manajemen Bengkel, terkait Sparepart, Karyawan, Order, dan Invoicing</p>
                                <!-- <a href="works-setails.html" class="ds-button">Details</a> -->
                            </section>
                        </div>
                        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                            <figure><img src="{{ url_for('static', filename='images/work-2.jpg') }}"></figure>
                        </div>
                    </div>
                </div>
                <div class="ds-work-list">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                            <section>
                                <h3 class="ds-work-tilte">REST API - Python Flask dan PHP CI 4 serta XML-RPC</h3>
                                <p>Project ini berkaitan dengan posisi saya sebagai Digital Transformation Analyst di PT Otto Menara Globalindo, integrasi antara Web Internal dengan Odoo ERP. Modul yang dikerjakan adalah Work Order dan Inventory Transfer</p>
                                <!-- <a href="works-setails.html" class="ds-button">Details</a> -->
                            </section>
                        </div>
                        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                            <figure><img src="{{ url_for('static', filename='images/work-3.jpg') }}"></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  Work -->

    <!--  footer -->
    <footer class="ds-footer text-center">
        <div class="container">
            <section>
                <span>Muhammad Rusydani Shubkhi</span>
                <h4>Ada yang ingin dibicarakan?</h4>
                <p>Dengan senang hati untuk menghubungi saya</p>
                <a href="mailto:rusydani.sh@gmail.com" class="ds-button">EMAIL</a>
            </section>
            <span class="ds-copyright">© 2022 All rights reserved. rsysh22</span>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>